.container-fluid,
.container {
    padding: 0;
}
#wrap {
    min-width: 100%;
    position: absolute;
    background: #eff3f6 bottom;
    min-height: 100%;
    overflow: hidden;
}
.leftMeun {
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    background: #f8f8f8;
}
.user-photo-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    padding:40px 0 0;
}
#user-photo {
    width: 102px;
    height: 92px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
#user-photo img {
    overflow: hidden;
}
.user_photo_bg {
    cursor: pointer;
    width: 102px;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 92px;
}
.photo {
    position: absolute;
    left: 7px;
    top: 0;
    width: 88px;
    height: 88px;
    z-index: 1
}
.userName {
    padding: 0 0 30px;
    font-size: 14px;
    color: #2f3540;
    text-align: center;
    margin-top: 16px
}
#rightContent {
    /*position: absolute;*/
    box-sizing: border-box;
    float: left;
    box-sizing: border-box;
    padding-left: 200px;
    /*overflow-y: overlay;*/
    overflow-x: hidden;
    /*background-color: #eff3f6;*/
    clear: both;
    color: #717592;
    min-width: 1170px;
    min-height: 500px;
}
.meun-item {
    line-height: 40px;
    height: 40px;
    color: #333;
    cursor: pointer;
    text-align: center;
}
.meun-item-active {
    background-color: #FFFFFF;
    border-right: 4px solid #647f9d;
}
.title {
    border-bottom: 2px solid #eee;
}
.title h2 {
    border-bottom: 2px solid #f50013;
    margin-bottom: -2px;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    color: #666
}
.table-text-show {
    height: 302px;
}
.txt {
    color: #666;
    font-size: 16px;
    width: 120px;
    float: left;
    line-height: 23px;
    text-align: right;
}
.info {
    margin-left: 140px;
    text-align: left;
    line-height: 23px;
}
.table-li {
    display: block;
    padding-bottom: 20px;
}
.user-btn-box {
    padding-left: 140px;
    height: 50px;
    text-align: left;
}
.btn-org {
    width: 240px;
    height: 50px;
    background: #eff3f6;
    display: inline-block;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 16px;
    display: block;
    cursor: pointer;
}
.btn-org:hover {
    color: #333;
}
select {
    width: 180px;
    height: 23px;
}
textarea {
    width: 180px;
    height:50px;
}
.order-header {
    height:48px;
    background-color: #f8f8f8;
    line-height: 48px;
}
.order-list {
    width: 100%;
    min-height: 500px;
}
.order-list li {
    height:100px;
}
.order-list li div {
    padding: 0;
    line-height: 100px;
}
.order-list li div img  {
    width: 180px;
    height:100px;
}
.car-info {
    display: inline-block;
    position: relative;
}
.car-source {
    height: 50px;
    width: 200px;
    line-height: 50px;
    display: inline-block;
    position: absolute;
}
.order-price {
    color: #f50013;
}
.cancel {
    border-radius: 2px;
    cursor: pointer;
    background-color: #cccccc;
}