<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<div th:include="common/head"></div>
<body class="">

	<div class="page-main">
		<div class="header py-4">
			<div class="container">
				<div class="d-flex">
					<a class="header-brand" href="./index.html"> <img
						th:src="@{${application.logo}}" class="header-brand-img" /> <span
						th:text="${application.title}"></span>
					</a>
					<div class="d-flex order-lg-2 ml-auto">
						<div class="dropdown d-none d-md-flex">
							<a class="nav-link icon" data-toggle="dropdown"> <i
								class="fe fe-bell"></i> <span class="nav-unread"></span>
							</a>

						</div>
						<div class="dropdown">
							<a href="#" class="nav-link pr-0 leading-none"
								data-toggle="dropdown"> <span class="ml-2 d-none d-lg-block">
									<span class="text-default"
									th:text="${session.LOGIN_KEY.adminName}"></span> <small
									class="text-muted d-block mt-1"
									th:text="${session.LOGIN_KEY.adminName}"></small>
							</span>
							</a>
							<div
								class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

								<div class="dropdown-divider"></div>
								<button class="dropdown-item" onclick="help()">
									<i class="dropdown-icon fe fe-help-circle"></i> 帮助?
								</button>
								<a class="dropdown-item" href="/WebCar/admin/logout"> <i
									class="dropdown-icon fe fe-log-out"></i> 退出
								</a>
							</div>
						</div>
					</div>
					<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0"
						data-toggle="collapse" data-target="#headerMenuCollapse"> <span
						class="header-toggler-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 ml-auto">
						<form class="input-icon my-3 my-lg-0">

							<div class="input-icon-addon"></div>
						</form>
					</div>
					<div class="col-lg order-lg-first">
						<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
							<li class="nav-item"
								th:each="menu,menuStat:${session.LOGIN_KEY.adminMenus}">
								<div th:if="${menu.menus.size() == 0}">
									<a th:text="${menu.menuName}" th:href="${menu.menuUrl}"
										class="nav-link"> <i th:class="${menu.menuIcon}"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-arrow"
										th:if="${menu.menus.size()!=0}">
										<a th:href="${m2.menuUrl}" class="dropdown-item "
											th:each="m2,m2Stat:${menu.adminMenus}"
											th:text="${m2.menuName}"> </a>
									</div>
								</div>
								<div th:unless="${menu.menus.size() == 0}">
									<a th:text="${menu.menuName}" th:href="${menu.menuUrl}"
										class="nav-link" data-toggle="dropdown"> <i
										th:class="${menu.menuIcon}"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-arrow"
										th:if="${menu.menus.size()!=0}">
										<a th:href="${m2.menuUrl}" class="dropdown-item "
											th:each="m2,m2Stat:${menu.menus}" th:text="${m2.menuName}">
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 首页内容 -->
		<!-- 表格开始 -->
		<div class="my-3 my-md-5">
			<!-- 首页展示 -->
			<div class="card-header">
				<h3 class="card-title">注册用户管理</h3>
				<div class="col-lg-3 ml-auto">
					<form class="input-icon my-3 my-lg-0"
						th:action="@{/WebCar/admin/searchName}" method="get">
						<input type="text" name="name" class="form-control header-search"
							placeholder="输入用户名..." tabindex="1" />
					</form>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table card-table table-vcenter text-nowrap">
					<thead>
						<tr>
							<td>用户名</td>
							<td>用户真实名字</td>
							<td>用户头像</td>
							<td>用户电话</td>
							<td>用户地址</td>
							<td>用户性别</td>
							<td>用户密码(经过MD5加密)</td>
							<td>用户email</td>
							<td>管理员可以进行的操作</td>
						</tr>
					</thead>
					<tbody th:each="p:${list}">
						<tr>

							<!-- 							<td th:text="${p.id}" ></td> -->
							<td th:text="${p.username}"></td>
							<td th:text="${p.userrealname}"></td>
							<td><img th:src="@{${p.usericon}}" alt=""></td>
							<td th:text="${p.userphone}"></td>
							<td th:text="${p.useraddress}"></td>
							<td th:text="${p.usersex}"></td>
							<td th:text="${p.userpwd}"></td>
							<td th:text="${p.useremail}"></td>
							<td><input type="button" value="修改用户信息" name="button"
								th:onclick="'openwin(\''+${p.id}+'\')'" /> <input type="button"
								value="删除用户" name="button2"
								th:onclick="'delect(\''+${p.username}+'\')'" /> <input
								type="button" value="添加用户" name="button3" data-toggle="modal"
								data-target="#myModal" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:include="common/common::page"></div>
		<!-- 表格结束 -->



	</div>



	<div class="col-6 col-md-3">


		<footer class="footer">
			<div class="container">
				<div class="row align-items-center flex-row-reverse">
					<div class="col-auto ml-lg-auto">
						<div class="row align-items-center">
							<div class="col-auto">
								<ul class="list-inline list-inline-dots mb-0">

								</ul>
							</div>

						</div>
					</div>
					<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
						Copyright © 2018</div>
				</div>
			</div>
		</footer>
	</div>
</body>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">添加用户</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<table>
						<tr>
							<td>头像:
								<button class="btn btn-primary btn-lg" data-toggle="modal"
									data-target="#myModal2">选择头像</button>
							</td>
						</tr>

						<tr>
							<td>用户名:</td>
							<td><input type="text" name="username" id="usernameAdd" /></td>
						</tr>
						<tr>
							<td>用户电话:</td>
							<td><input type="text" name="userphone" id="userphoneAdd" /></td>
						</tr>
						<tr>
							<td>用户地址:</td>
							<td><input type="text" name="useraddress"
								id="useraddressAdd" /></td>
						</tr>
						<tr>
							<td>用户性别:</td>
							<td><input type="text" name="usersex" id="usersexAdd" /></td>
						</tr>
						<tr>
							<td>用户密码:</td>
							<td><input type="text" name="userpwd" id="userpwdAdd" /></td>
						</tr>
						<tr>
							<td>用户邮箱:</td>
							<td><input type="text" name="useremail" id="useremailAdd" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="close" class="btn btn-default"
					data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="update()">
					提交更改</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">头像选择</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						<img src="/images/icon/icon1.png" />
						<button onclick="selectIcon('1')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon2.png" />
						<button onclick="selectIcon('2')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon3.png" />
						<button onclick="selectIcon('3')">选择</button>
					</div>

					<div class="col-xs-4">
						<img src="/images/icon/icon4.png" />
						<button onclick="selectIcon('4')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon5.png" />
						<button onclick="selectIcon('5')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon6.png" />
						<button onclick="selectIcon('6')">选择</button>
					</div>

					<div class="col-xs-4">
						<img src="/images/icon/icon7.png" />
						<button onclick="selectIcon('7')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon8.png" />
						<button onclick="selectIcon('8')">选择</button>
					</div>
					<div class="col-xs-4">
						<img src="/images/icon/icon9.png" />
						<button onclick="selectIcon('9')">选择</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="close2" class="btn btn-default"
					data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交更改</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>

<script type="text/javascript">
	function openwin(id) {
		var id = id;
		window.location.href = "./usermanageupdate?id=" + id;
	}

	function delect(username) {
		var username = username;
		var data = 'username=' + username;
		$
				.ajax({
					type : "POST",//方法类型
					url : "/WebCar/admin/usermanagedelect",//url
					data : data,
					success : function(reslut) {

						console.log(reslut);//打印服务端返回的数据(调试用)
						if (reslut == '1') {
							alert("删除成功");
							window.location.href = "/Webcar/admin/usermanageupdatesuccess";
						}
						;
					},
					error : function() {
						alert("异常！");
						window.location.href = "/Webcar/admin/usermanageupdateerror";
					}
				});
	}

	function update() {

		var username = $('#usernameAdd').val();
		var usericon = $('#usericonAdd').val();
		alert(usericon);
		var userphone = $('#userphoneAdd').val();
		var useraddress = $('#useraddressAdd').val();
		var usersex = $('#usersexAdd').val();
		var userpwd = $('#userpwdAdd').val();
		var useremail = $('#useremailAdd').val();

		$.ajax({
			type : "post",
			url : "/WebCar/admin/usermanageAdd",
			data : {
				"username" : username,
				"usericon" : usericon,
				"userphone" : userphone,
				"useraddress" : useraddress,
				"usersex" : usersex,
				"userpwd" : userpwd,
				"useremail" : useremail
			},
			dataType : "json",

			success : function(result) {

				if (result == '1') {
					alert("添加成功");

					$("#myModal").modal('hide');
					window.location.href = "./usermanageupdatesuccess";
				} else if (result == '2') {
					alert("用户名重复");

				}
				;
			},
			error : function() {
				alert("异常！");
				window.location.href = "./usermanageupdateerror";
			}
		});

	}

	function selectIcon(index) {
		$("#myModal2").modal("hide");
		$('#close2').click();
		$("input[name=usericon]").val(index);
		alert("选择成功");
		th: style = "'background-image: th:url(/images/icon/icon'+${session.LOGIN_KEY.usericon+'.jpg)'"

	}
	function help() {
		alert("请查看自己的管理员权限！1级管理员可以实现：（1）对于用户信息的管理，包括用户信息的修改，增加。（2）对于汽车信息的修改，增加，删除。对于订单信息的修改。2级管理员可以实现：（1）对于用户信息的管理，包括用户信息的修改，增加，还有删除（2）对于汽车信息的修改，增加，删除。对于订单信息的修改。（3）对于一级管理员的信息的修改，增加，删除。");
	}
</script>
</html>