<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>基于互联网+的二手车交易系统</title>
    <link rel="icon" th:href="@{/images/fal.png}"></link>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
   <style>
  pre{
    white-space:pre-wrap;
    word-wrap:break-word;
    }

</style>
</head>
<body>
<!--导航栏开始-->
<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="row" style="height: 36px;">
            <div class="col-sm-11" style="height: 36px">
                <div class="row daohang" style="height: 100%;">
                    <div class="col-sm-2" style="height: 100%;"><a href="/WebCar/userInfo/user_index" title="互联网汽车交易系统">首页</a></div>
                    <div class="col-sm-3" style="height: 100%;"></div>
                    <div class="col-sm-7" style="height: 100%">
                        <ul class="Right_nav">
                        <li style="background-color: #f8f8f8;width:300px">
                            <p style="margin:0"><span>欢迎</span><span th:text="${session.LoginUser.username}" id="NowUserName" name="NowUserName"></span><span>登录网站</span></p>
                            </li>
                            <li class="dropdown" style="cursor:pointer;position: relative;z-index: 2;">
                                <a href="javascript:void(0)" class="dropdown-toggle">我的管理 <span class="caret"></span></a>
                                <ul class="aa" style="display: none;position: absolute;">
                                     <li><a  onclick="usermanage()">修改密码</a></li>
                                    <li><a onclick="usermanage()">个人资料</a></li>
                                    <li><a onclick="usermanage()">我的订单</a></li>
                                </ul>
                            </li>

                            
                            <li style="cursor:pointer;"><a data-toggle="modal"  onclick="lianxifangshi()">联系方式</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 daohang" style="height: 36px;"><a href="./user_newindex" style="line-height: 36px;">退出</a>
            </div>
        </div>
    </div>


</div>
<!--导航栏结束-->
<!--搜索框开始-->
<div class="container">
    <div class="row" style="height: 123px;">
        <div class="col-sm-3" style="height: 100%">
            <div class="logo">
                <a href=""><img th:src="@{/images/used-car4.jpg}" alt="" title="二手车交易市场" /></a>
            </div>
        </div>
        <div class="col-sm-7" style="height: 100%">
            <div class="choose">
                <a href="#">二手车</a>
            </div>
            <div class="search">
                <input type="text" placeholder="搜'10-20万'大众试试" id="BuyCarSearch" name="BuyCarSearch"/>
                <button onclick="BCSearch()">搜索</button>
            </div>
        </div>
        <!--<div class="col-sm-2" style="height: 100%">-->
        <!--<a href="#" class="maiche">卖车</a>-->
        <!--</div>-->
    </div>
</div>
<!--搜索框结束-->
<!--列表栏开始-->
<div class="container-fluid">
    <div class="row" style="background-color: #ff6402;height: 36px;">
        <div class="container" style="height: 100%;">
            <div class="row">
                <ul class="list">
                    <li class="list-active"><a href="/WebCar/userInfo/user_index">首页</a></li>
                    <li><a href="/WebCar/userInfo/buyCar">买车</a></li>
                    <li><a href="/WebCar/userInfo/SaleCar">卖车</a></li>
                    <li><a href="/WebCar/userInfo/CarEvaluation">估价</a></li>
                    <li><a href="/WebCar/userInfo/car_Information">资讯</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--列表栏结束-->

 
<div style="background-color: #f7f5f5;
    padding: 16px;
    color: #5b5b5b;
    margin-top: 10px;
    
}"> 
<span style=" margin: 0;
    padding: 0;
    float:right;
 
    list-style: none;"
   ><a href="/WebCar/userInfo/car_Information" >返回首页</a></span>
   </div>
<div style="font-size: 18px;
   
    color: rgb(51, 51, 51);
    line-height: 45px;
    background-color: rgb(247, 247, 247);
    padding-left: 15px;
border-top: 1px solid rgb(205, 205, 205);
    border-bottom: 1px solid rgb(205, 205, 205);">
<h2>汽车资讯</h2>
</div>
<pre th:utext="${list2}" style="display:none" id="prepre">
</pre>
<div  >
<div id="divdiv" 
style="padding: 0 15px;
  
    line-height: 24px;
    font-size: 14px;
    color: #333;" >
<ul th:each="p:${list}"" >
<li  >
<div style="border-bottom: 1px dashed rgb(205, 205, 205)";>
<h3><a  th:onclick="'carinformation(\''+${p.title}+'\')'"   target="_Blank"  th:text="${p.title}" class="aaa"></a><span style="float:right;" th:text="${p.time}"></span></h3>
</div>
</li>
</ul>
</div>
</div>




</body>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">网站联系方式</h4>
</div>

<div class="modal-body">
<h2>联系电话123456</h2>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<script type="text/javascript">
$(function () {

})
function lianxifangshi(){
	$('#myModal').modal().show();
}
function order(){
	var username=document.getElementById("NowUserName").innerHTML;
	window.location.href="/WebCar/userInfo/User_order?username="+username;
	
}
function usermanage(){
	
	var username=document.getElementById("NowUserName").innerHTML;
	
	window.location.href="/WebCar/userInfo/user_Manger?username="+username;
}
function IntoInformation(id){
	
	window.location.href="/WebCar/userInfo/CarInforMation?id="+id;
}
function carinformation(titl){
	
	var title=titl;
	window.location.href="/WebCar/userInfo/car_InformationO?title="+title;
}
window.onload=function(){
	
	if(document.getElementById("prepre").innerHTML !=0){
		document.getElementById("divdiv").style.display="none";
		document.getElementById("prepre").style.display="inline";
		}
	}

</script>
</html>