<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/fal.png}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
   
 
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/elvauate.css}"/>
</head>
<body>
<!--导航栏开始-->
<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="row" style="height: 36px;">
            <div class="col-sm-11" style="height: 36px">
                <div class="row daohang" style="height: 100%;">
                    <div class="col-sm-2" style="height: 100%;"><a href="/WebCar/userInfo/user_index" title="互联网汽车交易系统">首页</a></div>
                    <div class="col-sm-3" style="height: 100%;"></div>
                    <div class="col-sm-7" style="height: 100%">
                        <ul class="Right_nav">
                        <li style="background-color: #f8f8f8;width:300px">
                            <p style="margin:0"><span>欢迎</span><span th:text="${session.LoginUser.username}" id="NowUserName" name="NowUserName"></span><span>登录网站</span></p>
                            </li>
                            <li class="dropdown" style="cursor:pointer;position: relative;z-index: 2;">
                                <a href="javascript:void(0)" class="dropdown-toggle">我的管理 <span class="caret"></span></a>
                                <ul class="aa" style="display: none;position: absolute;">
                                     <li><a  onclick="usermanage()">修改密码</a></li>
                                    <li><a onclick="usermanage()">个人资料</a></li>
                                    <li><a onclick="usermanage()">我的订单</a></li>
                                </ul>
                            </li>                          
                            <li style="cursor:pointer;"><a data-toggle="modal"  onclick="lianxifangshi2()">联系方式</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 daohang" style="height: 36px;"><a href="./user_newindex" style="line-height: 36px;">退出</a>
            </div>
        </div>
    </div>


</div>
<!--导航栏结束-->
<!--搜索框开始-->
<div class="container">
    <div class="row" style="height: 123px;">
        <div class="col-sm-3" style="height: 100%">
            <div class="logo">
                <a href=""><img th:src="@{/images/used-car4.jpg}" alt="" title="二手车交易市场" /></a>
            </div>
        </div>
      
    </div>
</div>
<!--搜索框结束-->
<!--列表栏开始-->
<div class="container-fluid">
    <div class="row" style="background-color: #ff6402;height: 36px;">
        <div class="container" style="height: 100%;">
            <div class="row">
                <ul class="list">
                    <li><a href="/WebCar/userInfo/user_index">首页</a></li>
                    <li ><a href="/WebCar/userInfo/buyCar">买车</a></li>
                    <li><a href="/WebCar/userInfo/SaleCar">卖车</a></li>                    
                    <li class="list-active"><a href="/WebCar/userInfo/CarEvaluation">估价</a></li>
                    <li><a href="/WebCar/userInfo/News">资讯</a></li>
                    <li><a href="/WebCar/userInfo/Rental">租车</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--列表栏结束-->
<div class="container-fluid" style="padding: 0">
    <div id="box-img">
        <div id="evaluate-form">
            <div class="form-header">实时评估二手车</div>
            <div class="car-parameter">
                <div class="parameters"><span>品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌:</span>
                    <div class="parameter">
                        <input type="text" id="input-brand" placeholder="品牌"/>
                        <select id="select1" >
                            <option value="请选择">请选择</option>
                            <option  th:each="p:${carbands}" th:text="${p.carband}" th:id="${p.carband}"></option>
                           
                        </select>
                    </div>
                </div>
                <div class="parameters"><span>车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
                    <div class="parameter">
                        <input type="text" id="input-style" placeholder="车名"/>
                        <select id="select2">
                            <option value="请选择">请选择</option>
                            <option  th:each="p:${carnames}" th:text="${p.carname}"></option>
                        </select>
                    </div> 
                </div>
                <div class="parameters"><span>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本:</span>
                    <div class="parameter">
                        <input type="text" id="input-levle1" placeholder="汽车版本"/>
                        <select id="select3">
                            <option value="请选择">请选择</option>
                           <option  th:each="p:${carlevels}" th:text="${p.carlevel}"></option>
                        </select>
                    </div>
                </div>
                <div class="parameters"><span>上牌时间:</span>
                    <div class="parameter">
                        <input type="date" id="input-time" placeholder="时间" value=""/>
                    </div>
                </div>
                <div class="parameters"><span>里&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;程:</span>
                    <div class="parameter eliages">
                        <input type="text" id="input-eliage" placeholder="请输入里程" value=""/>
                        <span id="elage">万公里</span>
                    </div>
                </div>
                <div class="parameters"><span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</span>
                    <div class="parameter">
                        <input type="email" id="input-email" placeholder="请输入邮箱号" onblur="firmEmail()" value=""/>                        
                    </div>
                </div>
                <div class="parameters" id="firmEmail"><span id="firm-text">验&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证:</span>
                    <div class="parameter" id="prompt-text">                          
                    </div>
                </div>	
                <div class="start-elvauate" id="elvauate">开始估价</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row elvaute-text">
        <h1>车辆估价 快速精确</h1>
        <div class="container">
            <div class="elvaute-description">
                <div class="description">                
                    <img th:src="@{/images/elvauate-correct.png}" alt="">
                    <h3>估价准确</h3>
                    <p>基于全国海量二手车成交价格和精准的估价模型
                        估值结果真实可靠</p>
                </div>
                <div class="description">
                    <img th:src="@{/images/time.png}" alt="">
                    <h3>实时报价</h3>
                    <p>跟进最新市场动态，根据市场反馈及时修正估价模型
                        保证结果的时效性</p>
                </div>
                <div class="description">
                    <img th:src="@{/images/cover.png}" alt="">
                    <h3>覆盖全面</h3>
                    <p>覆盖车型全面，针对稀有车型，提供免费人工评估
                        为您提供最便捷的评估服务</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row Leaderboard">
        <h1>热门车辆估价排行榜</h1>
        <ul class="valuation" >
            <li >
                <strong style="background-color: #f8f8f8;"></strong>
                <div>品牌</div>
                <div>评估次数</div>
                <div>平均车价</div>
            </li>
            <li th:each="p:${paihang}">
                <strong style="background-color: #ff3f20" th:text="${p.count}"></strong>
                <div th:text="${p.carband}"></div>
                <div th:text="${p.carpassion}"></div>
                <div th:text="${p.carprice}+元"></div>
            </li>
             
             
        </ul>
    </div>
</div>
<div class="container-fluid" style="background-color:#f8f8f8">
    <div class="container" style="padding: 0">
        <div class="row">
            <div class="ftWrap">
                <div class="foot">
                    <div class="cent">
                        <div class="relate">
                            <div class="items">
                                <div class="tit">交易帮助</div>
                                <div class="con">
                                    <a href="#">买车帮助</a>
                                    <a href="#">卖车帮助</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">客服中心
                                </div>
                                <div class="con">
                                    <a href="#">网站合作</a>
                                    <a href="#">关于我们</a>
                                    <a href="#">联系我们</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">购车指南
                                </div>
                                <div class="con">
                                    <a href="#">购车帮助</a>
                                </div>
                            </div>
                            <div class="items last">
                                <div class="tel">
                                    <h1>888-888-8888</h1>
                                    <p>周一至周日 8:00-18:00</p>
                                    <p>免费咨询</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#f8f8f8;height: 25px">
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">网站联系方式</h4>
</div>

<div class="modal-body">
<h2>联系电话888-888-8888</h2>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
</body>
<script>
    $(function () {
        $('#datePicker').css('display', 'block')
    })
    $('#select1').on('click', function () {
        $('#input-brand')[0].value = $('#select1')[0].value
    })
    $('#select2').on('click', function () {
        $('#input-style')[0].value = $('#select2')[0].value
    })
    $('#select3').on('click', function () {
        $('#input-levle1')[0].value = $('#select3')[0].value
    })
    function firmEmail(){
    	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
    	var email=$('#input-email').val()
    	if(email === ""){ 
    		$('#prompt-text').text('邮箱不能为空!')
    		$('#prompt-text').css('display','block')
    	　　　　return false;
    	　　}else if(!reg.test(email)){ 
    		$('#prompt-text').text('邮箱输入错误!')
    	　　　$('#prompt-text').css('display','block')
    	　　　　return false;
    	　　}else{
    		$('#prompt-text').css('display','none')
    	　　　　return true;
    	　　}
    }
    $('#elvauate').click(function(e){  
    	alert("开始估价 ，请耐心等待");
    	var carband=$('#input-brand').val()
    	var carname=$('#input-style').val()
    	var carlevel=$('#input-levle1').val()
    	var carlntime=$('#input-time').val()
    	var carmileages=$('#input-eliage').val()
    	var useremail=$('#input-email').val()
    	if(firmEmail){
    		$.ajax({
        		type: "POST",//方法类型
       	     url: "/WebCar/userInfo/CarEvaluationGet" ,//url
       	     data:{
       	    	carband:carband,
       	    	carname:carname,
       	    	carlevel:carlevel,
       	    	carlntime:carlntime,
       	    	carmileages:carmileages,
       	    	useremail:useremail
       	     },
       	     success: function (reslut) {
       	         
       	         console.log(reslut);//打印服务端返回的数据(调试用)
       	         if (reslut=='1') {
       	         	alert("估价成功，快去邮箱查看吧");
       	         	window.location.reload();
       	         }else{
       	        	 alert("估价失败，暂时未收录该车数据");
       	        	 window.location.reload();
       	         };
       	         
       	     },
       	     error : function() {
       	         alert("异常！");
       	         window.location.reload();
       	        
       	     }
       	});
    	}
    	
    })
        function lianxifangshi2(){
	
	$('#myModal').modal().show();
}
    function usermanage(){
    	
    	var username=document.getElementById("NowUserName").innerHTML;
    	
    	window.location.href="/WebCar/userInfo/user_Manger?username="+username;
    }
</script>
</html>