<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../images/favicon.ico">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../css/saleCar.css"/>
</head>
<body>
<!--导航栏开始-->
<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="row" style="height: 36px;">
            <div class="col-sm-11" style="height: 36px">
                <div class="row daohang" style="height: 100%;">
                    <div class="col-sm-2" style="height: 100%;"><a href="#" title="互联网汽车交易系统">首页</a></div>
                    <div class="col-sm-3" style="height: 100%;"></div>
                    <div class="col-sm-7" style="height: 100%">
                        <ul class="Right_nav">
                            <li style="background-color: #f8f8f8">
                                <a href="./login.html" style="margin-left: 2px;">登录</a>
                                <a href="./register.html" style="margin-left: 2px;">注册</a>
                            </li>
                            <li class="dropdown" style="cursor:pointer;position: relative;z-index: 2;">
                                <a href="#" class="dropdown-toggle">我的管理 <span class="caret"></span></a>
                                <ul class="aa" style="display: none;position: absolute;">
                                    <li><a href="#">二手车订单</a></li>
                                    <li><a href="#">新车订单</a></li>
                                    <li><a href="#">二手车服务</a></li>
                                    <li><a href="#">免费发车</a></li>
                                </ul>
                            </li>

                            <li style="cursor:pointer;"><a href="">联系方式</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 daohang" style="height: 36px;"><a href="./login.html" style="line-height: 36px;">退出</a>
            </div>
        </div>
    </div>
</div>
<!--导航栏结束-->
<!--搜索框开始-->
<div class="container">
    <div class="row" style="height: 123px;">
        <div class="col-sm-3" style="height: 100%">
            <div class="logo">
                <a href="http://localhost:8088/index"><img src="../images/淘车.PNG" alt="" title="二手车交易市场"></a>
            </div>
        </div>
        <div class="col-sm-7" style="height: 100%">
            <div class="choose">
                <a href="#">二手车</a>
            </div>
            <div class="search">
                <input type="text" placeholder='搜"10-20万"大众试试'>
                <button>搜索</button>
            </div>
        </div>
        <!--<div class="col-sm-2" style="height: 100%">-->
        <!--<a href="#" class="maiche">卖车</a>-->
        <!--</div>-->
    </div>
</div>
<!--搜索框结束-->
<!--列表栏开始-->
<div class="container-fluid">
    <div class="row" style="background-color: #ff6402;height: 36px;">
        <div class="container" style="height: 100%;">
            <div class="row">
                <ul class="list">
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="./buyCar.html">买车</a></li>
                    <li class="list-active"><a href="#">卖车</a></li>
                    <li><a href="#">置换</a></li>
                    <li><a href="#">估价</a></li>
                    <li><a href="#">新车</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--列表栏结束-->
<div class="container-fluid" style="padding: 0">
    <div class="sell_box">
        <div class="middlewrap">
            <a class="sel-box sell_panel_maskNav" name="biaodan">
                <div class="w-title">填写车辆信息，我们帮您卖车</div>
                <div class="write-box" >
                    <span>汽车品牌:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车品牌" id="carBrand">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>级 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</span>
                    <select>
                        <option value="微型车">小型车</option>
                        <option value="紧凑型车">紧凑型车</option>
                        <option value="中型车">中型车</option>
                        <option value="中大型车">中大型车</option>
                        <option value="豪华车">豪华车</option>
                        <option value="mpv">mpv</option>
                        <option value="suv">suv</option>
                        <option value="跑车">跑车</option>
                        <option value="皮卡">皮卡</option>
                        <option value="面包">面包</option>
                    </select>
                </div>
                <div class="write-box">
                    <span>上牌地点:</span>
                    <input type="text" class="input-phone" placeholder="请输入上牌地点">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>里 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;程:</span>
                    <input type="text" class="input-phone" placeholder="请输入里程" id="">
                </div>
                <div class="write-box">
                    <span>上牌时间:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车上牌时间">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>排 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车排量">
                </div>
                <div class="write-box">
                    <span>驾驶方式:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车驾驶方式">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>驱 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;动:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车驱动方式">
                </div>
                <div class="write-box">
                    <span>汽车卖价:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车卖价">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;力:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车发动机型号">
                </div>
                <div class="write-box">
                    <span>耗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;油:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车耗油">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积:</span>
                    <input type="text" class="input-phone" placeholder="请输入汽车后备箱体积">
                </div>
                <button id="sale" name="sale" class="sell-submit" >提交
                </button>
            </a>
        </div>
    </div>
    <div class="sell-img-1"><img src="../images/sellimg1.jpg"/></div>
    <div class="sell-img-1">
        <div class="con-tit">卖车指南</div>
        <ul class="sell-guide">
            <li class="fl">
                <p class="p1">Q1：是否收取费用？</p>
                <div class="txt-box"> 卖车全过程我们是不收取卖家任何费
                    用的，成交时我们会按比例收取买家
                    少量费用。
                </div>
            </li>
            <li class="fr">
                <p class="p1">Q2：大概多久能成交？</p>
                <div class="txt-box"> 按以往经验，3天内您会陆续得到我
                    们买家报价，如果售价合理，成功售
                    出几率会很高。
                </div>
            </li>
            <li class="fl">
                <p class="p1">Q3：卖车需要准备哪些材料？</p>
                <div class="txt-box"> 只需要提供您的身份证、行驶证、登
                    记证、购置税本、购车发票，如果车
                    辆为公车，还需要提供相关的组织机
                    构信息。。
                </div>
            </li>
            <li class="fr">
                <p class="p1">Q4：出售车辆需要符合怎样的条件？</p>
                <div class="txt-box"> 只要您的车辆为非营运车辆且相关手
                    续齐全即可在我们平台出售。
                </div>
            </li>
        </ul>
        <div class="tj_form">
            <p class="write-tip">填写表单，立刻卖车</p>
            <a href="#biaodan" class="backtotop">立即填写</a></div>
    </div>
</div>
<!--关于我们开始-->
<div class="container-fluid" style="background-color:#f8f8f8">
    <div class="container" style="padding: 0">
        <div class="row">
            <div class="ftWrap">
                <div class="foot">
                    <div class="cent">
                        <div class="relate">
                            <div class="items">
                                <div class="tit">交易帮助</div>
                                <div class="con">
                                    <a href="#">买车帮助</a>
                                    <a href="#">卖车帮助</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">客服中心
                                </div>
                                <div class="con">
                                    <a href="#">网站合作</a>
                                    <a href="#">关于我们</a>
                                    <a href="#">联系我们</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">购车指南
                                </div>
                                <div class="con">
                                    <a href="#">购车帮助</a>
                                </div>
                            </div>
                            <div class="items last">
                                <div class="tel">
                                    <h1>888-888-8888</h1>
                                    <p>周一至周日 8:00-18:00</p>
                                    <p>免费咨询</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--关于我们结束-->
<div class="container-fluid" style="background-color:#f8f8f8;height: 25px"></div>
</body>
</html>