<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8" />
    <title>基于互联网+的二手车交易系统</title>
    <link rel="icon" th:href="@{/images/fal.png}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyCar.css}"/>

</head>
<body onload="loading()">
<!--导航栏开始-->
<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="row" style="height: 36px;">
            <div class="col-sm-11" style="height: 36px">
                <div class="row daohang" style="height: 100%;">
                    <div class="col-sm-2" style="height: 100%;"><a href="/WebCar/userInfo/user_index" title="互联网汽车交易系统">首页</a></div>
                    <div class="col-sm-3" style="height: 100%;"></div>
                    <div class="col-sm-7" style="height: 100%">
                        <ul class="Right_nav">
                        <li style="background-color: #f8f8f8;width:300px">
                            <p style="margin:0"><span>欢迎</span><span th:text="${session.LoginUser.username}" id="NowUserName" name="NowUserName"></span><span>登录网站</span></p>
                            </li>
                            <li class="dropdown" style="cursor:pointer;position: relative;z-index: 2;">
                                <a href="javascript:void(0)" class="dropdown-toggle">我的管理 <span class="caret"></span></a>
                                <ul class="aa" style="display: none;position: absolute;">
                                     <li><a  onclick="usermanage()">修改密码</a></li>
                                    <li><a onclick="usermanage()">个人资料</a></li>
                                    <li><a onclick="usermanage()">我的订单</a></li>
                                </ul>
                            </li>                          
                            <li style="cursor:pointer;"><a data-toggle="modal"  onclick="lianxifangshi2()">联系方式</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 daohang" style="height: 36px;"><a href="./user_newindex" style="line-height: 36px;">退出</a>
            </div>
        </div>
    </div>


</div>
<!--导航栏结束-->
<!--搜索框开始-->
<div class="container">
    <div class="row" style="height: 123px;">
        <div class="col-sm-3" style="height: 100%">
            <div class="logo">
                <a href=""><img th:src="@{/images/used-car4.jpg}" alt="" title="二手车交易市场" /></a>
            </div>
        </div>
        <div class="col-sm-7" style="height: 100%">
            <div class="choose">
                <a href="#">二手车</a>
            </div>
            <div class="search">
                <input type="text" placeholder="搜'10-20万'大众试试" id="BuyCarSearch" name="BuyCarSearch"/>
                <button onclick="BCSearch()">搜索</button>
            </div>
        </div>
        <!--<div class="col-sm-2" style="height: 100%">-->
        <!--<a href="#" class="maiche">卖车</a>-->
        <!--</div>-->
    </div>
</div>
<!--搜索框结束-->
<!--列表栏开始-->
<div class="container-fluid">
    <div class="row" style="background-color: #ff6402;height: 36px;">
        <div class="container" style="height: 100%;">
            <div class="row">
                <ul class="list">
                    <li><a href="/WebCar/userInfo/user_index">首页</a></li>
                    <li class="list-active"><a href="/WebCar/userInfo/buyCar">买车</a></li>
                    <li><a href="/WebCar/userInfo/SaleCar">卖车</a></li>
                    
                    <li><a href="#">估价</a></li>
                    <li><a href="/WebCar/userInfo/car_Information">资讯</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--列表栏结束-->
<!--开始搜索-->
<div class="container-fluid" style="background-color: #f8f8f8">
    <div class="container">
        <div class="row" style="height: 44px;line-height: 44px" data-class="start-search">
            
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row search-car">
            <div class="selected">
                <span>您已选择：</span>
                <ul class="selected-type">
                  
                </ul>
            </div>
            <ul class="search-carList">
                <li class="search-carTop">
                    <div class="brand-name"><span>品牌</span></div>
                    <div class="brand">
                        <ul class="brand-list Sort" id="brand-name">
                            <li><a class="aSort">不限</a></li>
                            <li th:each="p1:${CarbrandsAll0_10}" style="white-space:nowrap;"><a href="javascript:void(0)"  th:text="${p1.brandname}" class="searcchbrand"></a></li>
                            <li id="select-brand"><a href="#"></a></li>
                            <li id="ALL"><span class="dropdown-toggle">全部<span class="caret" ></span></span>
                                <ul class="otherbrand" id="ALLdown"  style="width: 520px;height:244px;">
                                    <div class="o-b-box"><span class="arrow"><s></s></span>
                                        <ul data-role="letterNav" class="o-b-list " id="Sort">
                                            <li class="clearfix" th:each="p1:${CarbrandsAll}">
                                                <div> <a  href="javascript:void(0)"  th:text="${p1.brandname}"  class="searcchbrand"></a> </div>
                                            </li>  
                                        </ul>
                                    </div>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="search-carTop">
                    <div class="brand-name"><span>车价</span></div>
                    <div class="brand">
                        <ul class="brand-list Sort" id="pricename">
                            <li><a  class="aSort">不限</a></li>
                            <li><a >3万内</a></li>
                            <li><a >3-5万内</a></li>
                            <li><a >5-8万内</a></li>
                            <li><a >8-10万内</a></li>
                            <li><a >10-15万内</a></li>
                            <li><a >15-20万内</a></li>
                            <li><a >20-30万内</a></li>
                            <li><a >30-50万内</a></li>
                            <li><a >50-100万内</a></li>
                           <li><a >100万以上</a></li>
                        </ul>

                    </div>
                </li>
                <li class="search-carTop">
                    <div class="brand-name"><span>车型</span></div>
                    <div class="brand" >
                        <ul class="brand-list Sort" id="level_name">
                            <li><a  class="aSort">不限</a></li>
                            <li th:each="p2:${listlevel}"><a href="javascript:void(0)" th:text="${p2.levelname}" ></a></li>
                           
                        </ul>
                    </div>
                </li>
                <li class="search-carTop">
                    <div class="brand-name"><span>里程</span></div>
                    <div class="brand">
                        <ul class="brand-list Sort" id="mileages">
                            <li><a  class="aSort">不限</a></li>
                            <li th:each="p3:${carmileageAll}"><a href="javascript:void(0)" th:text="${p3.carmileage}" class="searchcarmileage"></a></li>
                          
                        </ul>
                    </div>
                </li>
                <li class="search-carTop">
                    <div class="brand-name"><span>其他</span></div>
                    <div class="brand">
                        <ul class="brand-list" id="qita">
                           
                            
                            <li style="width: 48px;"><a href="javascript:void(0)" class="car-mileage">颜色 <span
                                    class="caret"></span></a>
                                <ul class="mileage Sort" style="display: none;position: absolute" id="colors">
                                    <li><a  class="aSort">不限</a></li>
                                    <li th:each="p5:${CarColorAll}"><a href="#" th:text="${p5.carcolor}"></a></li>
                                    
                                </ul>
                            </li>
                            
                             <li style="width: 48px;"><a href="javascript:void(0)" class="" id="country">国家 <span
                                    class="caret"></span></a>
                                <ul class="country Sort" style="display: none;position: absolute" id="pops">
                                    <li><a  class="aSort">不限</a></li>
                                    <li th:each="p6:${CarPopAll}"><a href="#" th:text="${p6.carpop}"></a></li>
                                    
                                </ul>
                            </li>
                            
                            <li style="width: 48px;"><a href="javascript:void(0)" id="power">能源 <span
                                    class="caret"></span></a>
                                <ul class="Car-power Sort" style="display: none;position: absolute" id="powers">
                                    <li><a  class="aSort">不限</a></li>
                                    <li th:each="p7:${CarPowerAll}"><a href="#" th:text="${p7.carpower}"></a></li>
                                    
                                </ul>
                            </li>
                            
                             <li style="width: 48px;"><a href="javascript:void(0)" id="method">方式 <span
                                    class="caret"></span></a>
                                <ul class="Car-pmethod Sort" style="display: none;position: absolute" id="methods">
                                    <li><a  class="aSort">不限</a></li>
                                    <li th:each="p8:${CarPmethodAll}"><a href="#" th:text="${p8.carpmethod}"></a></li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </li>
                <li class="search-carTop">
                    <div class="brand-name" style="border-bottom: 1px solid rgb(229, 229, 229)"><span>排序</span></div>
                    <div class="brand">
                        <ul class="brand-list  Sort">
                            <li><a href="#" class="aSort">默认排序</a></li>
                            <li><a href="#">价格<span class="fuhao">↓</span></a></li>
                            <li><a href="#">价格<span class="fuhao">↑</span></a></li>
                            <li><a href="#">里程<span class="fuhao">↑</span></a></li>
                            <li><a href="#" title="车龄由小到大">车龄<span class="fuhao">↑</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--搜索结束-->
<!--显示开始-->
<div class="container-fluid" style="background-color:#f8f8f8">
    <div class="container" >
        <div class="row showbuy_car" >
            <div class="showcar-right" style="height:100%;padding: 0">
            
                <ul  style="margin: 0;height: 298px"  id="car-list" class="carf" >
                                  
                </ul>
              
            </div>
          <div class="pages">
                <a href="#">首页</a>
                <a href="#">上一页</a>
                <a href="#">下一页</a>
                <a href="#">最后一页</a>
                <a href="#">共3页</a>
           </div>
        </div>
    
     

    </div>
    
</div>

<!--显示结束-->
<!--关于我们开始-->
<div class="container-fluid" style="background-color:#f8f8f8">
    <div class="container" style="padding: 0">
        <div class="row" >
            <div class="ftWrap">
                <div class="foot">
                    <div class="cent">
                        <div class="relate">
                            <div class="items">
                                <div class="tit">交易帮助</div>
                                <div class="con">
                                    <a href="#">买车帮助</a>
                                    <a href="#">卖车帮助</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">客服中心
                                </div>
                                <div class="con">
                                    <a href="#">网站合作</a>
                                    <a href="#">关于我们</a>
                                    <a href="#">联系我们</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">购车指南
                                </div>
                                <div class="con">
                                    <a href="#">购车帮助</a>
                                </div>
                            </div>
                            <div class="items last">
                                <div class="tel">
                                    <h1>888-888-8888</h1>
                                    <p>周一至周日 8:00-18:00</p>
                                    <p>免费咨询</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--关于我们结束-->
<div class="container-fluid" style="background-color:#f8f8f8;height: 25px"></div>
</body>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">网站联系方式</h4>
</div>

<div class="modal-body">
<h2>联系电话888-888-8888</h2>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<script type="text/javascript">
var aa=""
$(function(){
	function utf8to16(str) {  
	    var out, i, len, c;  
	    var char2, char3;  
	  
	    out = "";  
	    len = str.length;  
	    i = 0;  
	    while(i < len) {  
	         c = str.charCodeAt(i++);  
	         switch(c >> 4)  
	         {   
	           case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:  
	             out += str.charAt(i-1);  
	             break;  
	           case 12: case 13:  
	             char2 = str.charCodeAt(i++);  
	             out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));  
	             break;  
	           case 14:  
	             char2 = str.charCodeAt(i++);  
	             char3 = str.charCodeAt(i++);  
	             out += String.fromCharCode(((c & 0x0F) << 12) |  
	                ((char2 & 0x3F) << 6) |  
	                ((char3 & 0x3F) << 0));  
	             break;  
	         }  
	    }  
	  
	    return out;  
	} 
	var href=window.location.href
	console.log(href)
	var index1=0;
	for(var i=0;i<href.length;i++){
		if(href[i]=='='){
			index1=i
		}
		if(href[i]=='?'){
			index=i
		}
	}
	console.log(href.substring(index+1,index1))
	
	if('brandname'==href.substring(index+1,index1)){
		var hrefName=href.substring(index1+1,href.length)	
		console.log(hrefName)	  
		aa=utf8to16(unescape(hrefName));
		var index=0;
		var aaa=[]
		var brandName=$('#brand-name li').children('a')
		for(var i=0;i<brandName.length;i++){
			if(aa==brandName[i].innerHTML){
				index=i;
			}
			aaa.push(brandName[i].innerHTML)
		}
		var isTrue=aaa.indexOf(aa)
		if(isTrue!=-1){
			$('#brand-name li').eq(index).find('a').addClass('aSort')
			$('#brand-name li').eq(index).siblings().find('a').removeClass('aSort')
		}else{
			if(aa=='ttp://localhost:8888/WebCar/userInfo/buyCar'){
				return 
			}else {
					$('#select-brand a')[0].innerHTML=aa
					$('#select-brand a').addClass('aSort')
				}
		}
	}
	if(href.indexOf('carprice')!=-1){
		var pricename=$('#pricename li')
		var aa=[]
		for(var i=0;i<pricename.length;i++){
			aa.push($(pricename[i]).find('a').attr('href'))
		}
		var bb=[]
		for(var i=0;i<aa.length;i++){
			let c=aa[i]
			for(var j=0;j<c.length;j++){
				if(c[j]=='?'){
					bb.push(c.substring(j+1,c.length))
				}
			}
		}
		for(var i=0;i<bb.length;i++){
			if(href.substring(index+1,href.length)==bb[i]){
				$('#pricename li').eq(i).find('a').addClass('aSort')
				$('#pricename li').eq(i).siblings().find('a').removeClass('aSort')
			}
		}

	}
	if(href.indexOf('levelname')!=-1){
		var pricename=$('#level_name li')
		var aa=[]
		for(var i=0;i<pricename.length;i++){
			aa.push($(pricename[i]).find('a')[0].innerHTML)
		}
		console.log(aa)
		console.log(utf8to16(unescape(href.substring(index1+1,href.length))))
		for(var i=0;i<aa.length;i++){
			if(aa[i]==utf8to16(unescape(href.substring(index1+1,href.length)))){
				$('#level_name li').eq(i).find('a').addClass('aSort')
				$('#level_name li').eq(i).siblings().find('a').removeClass('aSort')
			}
		}

	}
	if(href.indexOf('carmileage')!=-1){
		var pricename=$('#mileages li')
		var aa=[]
		for(var i=0;i<pricename.length;i++){
			aa.push($(pricename[i]).find('a')[0].innerHTML)
		}
		for(var i=0;i<aa.length;i++){
			if(aa[i]==utf8to16(unescape(href.substring(index1+1,href.length)))){
				$('#mileages li').eq(i).find('a').addClass('aSort')
				$('#mileages li').eq(i).siblings().find('a').removeClass('aSort')
			}
		}

	}
	
		
})

// 自定义点击开始



    function lianxifangshi2(){
	
	$('#myModal').modal().show();
}
    // 自定义点击结束
    function order(){
	var username=document.getElementById("NowUserName").innerHTML;
	
	window.location.href="/WebCar/userInfo/User_order?username="+username;
	
}
   function BCSearch(){
	  var search=$('#BuyCarSearch').val();
	  $.ajax({
			 type: "POST",//方法类型
		     url: "/WebCar/userInfo/User_BuyCarSearch124",//url
		     data:{
		    	 search:search
		     },
		     success: function (data) {
		    	 $('#car-list').empty()
		    	 addlist(data)
		     }
		});
	  
   }
   
   
   
var brandName =$('#brand-name').children('li').find("a[class='aSort']").text()
var levelName =$('#level_name').children('li').find("a[class='aSort']").text()
var mileageName =$('#mileages').children('li').find("a[class='aSort']").text()
var pricename=$('#pricename').children('li').find("a[class='aSort']").text()
var colors= $('#colors').children('li').find("a[class='aSort']").text()
var pops= $('#pops').children('li').find("a[class='aSort']").text()
var powers= $('#powers').children('li').find("a[class='aSort']").text()
var methods=$('#methods').children('li').find("a[class='aSort']").text()
var data1={
	 brandname:brandName,
	 levelname:levelName,
	 carmileage:mileageName,
	 carprice:pricename,
	 carpop:pops,
	 carcolor:colors,
	 carpower:powers,
	 carpmethod:methods
}
$('#brand-name').children('li').find('a').click(function(e){
      brandName=$(this)[0].innerHTML;
      var params ={
    		  pageNo:2,
    		  pageSize:5,
    		  obj:{'brandname':brandName,
    		    	 levelname:levelName,
    		    	 carmileage:mileageName,
    		    	 carprice:pricename,
    		    	 carpop:pops,
    		    	 carcolor:colors,
    		    	 carpower:powers,
    		    	 carpmethod:methods
    		     }
      }
      ajaxPost(params);
	})
	
	
function ajaxPost(params){
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123",//url
	     dateType:'json',
	     data:JSON.stringify(params),
	     contentType:'application/json',
	     success: function (data) {
	    	 console.log(data)
	    	 $('#car-list').empty()
	    	 addlist(data.dataList)
	     }
	});
}
function addlist(lists) {
	if(lists==null) {
		var div=$('<div>1123</div>')
		$('#car-list').append(div)
	}else {
		var str = ''
		   	 lists.forEach(function (list) {
		            str =str + '<li>'+
		            '<a onclick="IntoInformation('+list.id+')"><img src="'+list.caricon+'" alt=""></a>'+
		            '<div class="carname"><a href="">'+list.carname+list.carbirth+list.cardisplacement+list.drivetype+list.carlnwhere+list.caredition+'</a></div>'+
		            '<p class="pcar">上牌时间：'+list.carlntime+'</p>'+
		            '<p class="pcar">行驶里程：'+list.carmileage+'</p>'+
		            '<div class="car-price">'+
		                '<span class="carnumber">金额：</span><span><span class="carnumber">'+list.carprice+'</span>万</span>'+
		            '</div>'+
		        '</li>'
		          
		        })
		$('#car-list').append(str);
	}	 
}

function loading(){
	brandName=$(this)[0].innerHTML;
	console.log(data1)
    var params ={
  		  pageNo:1,
  		  pageSize:5,
  		  obj:data1,
    }
    ajaxPost(params);
}

$('#level_name').children('li').find('a').click(function(e){
	levelName=$(this)[0].innerHTML;
    var params ={
  		  pageNo:2,
  		  pageSize:5,
  		  obj:{brandname:brandName,
  		    	 'levelname':levelName,
  		    	 carmileage:mileageName,
  		    	 carprice:pricename,
  		    	 carpop:pops,
  		    	 carcolor:colors,
  		    	 carpower:powers,
  		    	 carpmethod:methods
  		     }
    }
    ajaxPost(params);

})
$('#pricename').children('li').find('a').click(function(e){
	pricename=$(this)[0].innerHTML;
    var params ={
  		  pageNo:1,
  		  pageSize:5,
  		  obj:{brandname:brandName,
  		    	 levelname:levelName,
  		    	 carmileage:mileageName,
  		    	 'carprice':pricename,
  		    	 carpop:pops,
  		    	 carcolor:colors,
  		    	 carpower:powers,
  		    	 carpmethod:methods
  		     }
    }
    ajaxPost(params);

})

$('#mileages').children('li').find('a').click(function(e){
	console.log($(this)[0].innerHTML)
	var carmileage=$(this)[0].innerHTML;
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123" ,//url
	     data:{
	    	 brandname:brandName,
	    	 levelname:levelName,
	    	 carmileage:carmileage,
	    	 carprice:pricename,
	    	 carpop:pops,
	    	 carcolor:colors,
	    	 carpower:powers,
	    	 carpmethod:methods
	     },
	     success: function (data) {
	    	 $('#car-list').empty()
	    	 addlist(data)
	     }
	});
	
})
$('#colors').children('li').find('a').click(function(e){
	console.log($(this)[0].innerHTML)
	var carcolor=$(this)[0].innerHTML;
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123" ,//url
	     data:{
	    	 brandname:brandName,
	    	 levelname:levelName,
	    	 carmileage:carmileage,
	    	 carprice:pricename,
	    	 carpop:pops,
	    	 carcolor:carcolor,
	    	 carpower:powers,
	    	 carpmethod:methods
	     },
	     success: function (data) {
	    	 $('#car-list').empty()
	    	 addlist(data)
	     }
	});
	 
})
$('#pops').children('li').find('a').click(function(e){
	console.log($(this)[0].innerHTML)
	var carpop=$(this)[0].innerHTML;
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123" ,//url
	     data:{
	    	 brandname:brandName,
	    	 levelname:levelName,
	    	 carmileage:carmileage,
	    	 carprice:pricename,
	    	 carpop:carpop,
	    	 carcolor:carcolor,
	    	 carpower:powers,
	    	 carpmethod:methods
	     },
	     success: function (data) {
	    	 $('#car-list').empty()
	    	 addlist(data)
	     }
	});
	
})
$('#powers').children('li').find('a').click(function(e){
	console.log($(this)[0].innerHTML)
	var carpower=$(this)[0].innerHTML;
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123" ,//url
	     data:{
	    	 brandname:brandName,
	    	 levelname:levelName,
	    	 carmileage:carmileage,
	    	 carprice:pricename,
	    	 carpop:carpop,
	    	 carcolor:carcolor,
	    	 carpower:carpower,
	    	 carpmethod:methods
	     },
	     success: function (data) {
	    	 $('#car-list').empty()
	    	 addlist(data)
	     }
	});
	
})
$('#methods').children('li').find('a').click(function(e){
	console.log($(this)[0].innerHTML)
	var carpmethod=$(this)[0].innerHTML;
	$.ajax({
		 type: "POST",//方法类型
	     url: "/WebCar/userInfo/User_BuyCarSearch123" ,//url
	     data:{
	    	 brandname:brandName,
	    	 levelname:levelName,
	    	 carmileage:carmileage,
	    	 carprice:pricename,
	    	 carpop:carpop,
	    	 carcolor:carcolor,
	    	 carpower:carpower,
	    	 carpmethod:carpmethod
	     },
	     success: function (data) {
	    	 $('#car-list').empty()
	    	 addlist(data)
	     }
	});
	
})
function IntoInformation(id){
	window.location.href="/WebCar/userInfo/CarInforMation?id="+id;
}
function usermanage(){
	
	var username=document.getElementById("NowUserName").innerHTML;
	
	window.location.href="/WebCar/userInfo/user_Manger?username="+username;
}
</script>
</html>