<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" th:href="@{/images/fal.png}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/saleCar.css}"/>
</head>
<body>
<!--导航栏开始-->

<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="row" style="height: 36px;">
            <div class="col-sm-11" style="height: 36px">
                <div class="row daohang" style="height: 100%;">
                    <div class="col-sm-2" style="height: 100%;"><a href="/WebCar/userInfo/user_index" title="互联网汽车交易系统">首页</a></div>
                    <div class="col-sm-3" style="height: 100%;"></div>
                    <div class="col-sm-7" style="height: 100%">
                        <ul class="Right_nav">
                        <li style="background-color: #f8f8f8;width:300px">
                            <p style="margin:0"><span>欢迎</span><span th:text="${session.LoginUser.username}" id="NowUserName" name="NowUserName"></span><span>登录网站</span></p>
                            </li>
                            <li class="dropdown" style="cursor:pointer;position: relative;z-index: 2;">
                                <a href="javascript:void(0)" class="dropdown-toggle">我的管理 <span class="caret"></span></a>
                                <ul class="aa" style="display: none;position: absolute;">
                                      <li><a  onclick="usermanage()">修改密码</a></li>
                                    <li><a onclick="usermanage()">个人资料</a></li>
                                    <li><a onclick="usermanage()">我的订单</a></li>
                                </ul>
                            </li>

                            
                            <li style="cursor:pointer;"><a data-toggle="modal"  onclick="lianxifangshi2()">联系方式</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 daohang" style="height: 36px;"><a href="./user_newindex" style="line-height: 36px;">退出</a>
            </div>
        </div>
    </div>


</div>
<!--导航栏结束-->
<!--搜索框开始-->
<div class="container">
    <div class="row" style="height: 123px;">
        <div class="col-sm-3" style="height: 100%">
            <div class="logo">
                <a href=""><img th:src="@{/images/used-car4.jpg}" alt="" title="二手车交易市场" /></a>
            </div>
        </div>
       
        <!--<div class="col-sm-2" style="height: 100%">-->
        <!--<a href="#" class="maiche">卖车</a>-->
        <!--</div>-->
    </div>
</div>
<!--搜索框结束-->
<!--列表栏开始-->
<div class="container-fluid">
    <div class="row" style="background-color: #ff6402;height: 36px;">
        <div class="container" style="height: 100%;">
            <div class="row">
                <ul class="list">
                    <li><a href="/WebCar/userInfo/user_index">首页</a></li>
                    <li><a href="/WebCar/userInfo/buyCar">买车</a></li>
                    <li class="list-active"><a href="/WebCar/userInfo/SaleCar">卖车</a></li>
                    <li><a href="#">估价</a></li>
                    <li><a href="/WebCar/userInfo/car_Information">资讯</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--列表栏结束-->
<div class="container-fluid" style="padding: 0">
    <div class="sell_box">
        <div class="middlewrap">
            <a class="sel-box sell_panel_maskNav" name="biaodan">
                <div class="w-title">填写车辆信息，我们帮您卖车</div>
                <div class="write-table">
                <div class="write-box" >
                    <span>汽车品牌:</span>
                    <select name="carband" id="carbandband">
                    <option  th:each="p:${CarbrandsAll}" th:text="${p.brandname}"></option>
                    </select>
                     <span>汽车名称:</span>
                    <input type="text"  placeholder="请输入汽车名称" id="carnamecarname">
                    
                 </div>
                 <div class="write-box">
                 <span>汽车座位数:</span>
                    <select id="cartypetype">
                    <option value="1">两座</option>
                    <option value="2">4座</option>
                    <option value="3">5座</option>
                    <option value="4">6座</option>
                    <option value="5">7座</option>
                    <option value="6">7座以上</option>
                    </select>
                   <span>上牌地点:</span>
                    <input type="text"  placeholder="请输入上牌地点" id="carlnwherecarlnwhere"> 
                 </div>
                <div class="write-box">
                   <span>上牌时间:</span>
                    <input type="date" id="carlntimecarlntime">
                    <span>生产时间:</span>
                    <select id="carbirthbirth">
                    <option th:each="p:${CarBirth}" th:text="${p.carbirth}"></option>
                    </select>
                </div>
                <div class="write-box">
                    <span>汽车版本:</span>
                    <select id="careditiondition">
                    <option value="1">时尚型</option>
                    <option value="2">舒适型</option>
                    <option value="3">运动型</option>
                    <option value="4">豪华型</option>
                    <option value="5">尊尚型</option>
                    <option value="6">精英型</option>
                    <option value="7">其他型</option>
                    </select>
                    <span>里 程:</span>
                    <select id="carmileagemileage">
                    <option th:each="p:${carmileageAll}" th:text="${p.carmileage}"></option>
                    </select>
                </div>
                <div class="write-box">
                    <span>汽车排量:</span>
                    <input type="text"  placeholder="请输入汽车排量" id="cardisplacementcardisplacement">
                    <span>发动机型号:</span>
                    <input type="text" placeholder="请输入汽车发动机型号" id="carmotorcarmotor">
                </div>
                <div class="write-box">
                    <span>驱动方式:</span>
                    <select id="cardrivedrive">
                    <option value="前轮驱动">前轮驱动</option>
                    <option value="后轮驱动">后轮驱动</option>
                    <option value="四驱">四驱</option>	
                    </select>
                    <span>油耗:</span>
                    <input type="text"  placeholder="请输入汽车油耗" id="caroilcaroil">
                </div>
                <div class="write-box">
                    <span>级别:</span>
                    <select id="carlevellevel">
                        <option th:each="p:${listlevel}" th:text="${p.levelname}"></option>
                    </select>
                    <span>驾驶方式:</span>
                    <select id="drivetypetype">
                    <option value="1">手动</option>
                    <option value="2">自动</option>
                    </select>
                </div class="write-box">
                 <div class="write-box">
                 <span>出售价格：</span>
                 <input type="text" placeholder="请输入汽车价格" id="carpricecarprice">
                 <span>颜 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色:</span>
                    <select id="carcolorcolor">
                        <option th:each="p:${CarColorAll}" th:text="${p.carcolor}"></option>
                    </select>
                    </div>
                 <div class="write-box">
                 <span>产地:</span>
                 <select id="carpoppop">
                        <option th:each="p:${CarPopAll}" th:text="${p.carpop}"></option>
                    </select>
                  <span>能 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源:</span>
                    <select id="carpowerpower">
                        <option th:each="p:${CarPowerAll}" th:text="${p.carpower}"></option>
                    </select>
                </div>
                 <div class="write-box">
                 <span>生产方式：</span>
                 <select id="carpmethodmethod">
                        <option th:each="p:${CarPmethodAll}" th:text="${p.carpmethod}"></option>
                    </select>
                     <span>车架号：</span>
                 <input type="text"  placeholder="请输入车架号" onblur="queryCar()" id="carnono">
                </div>
                <div class="write-box">
                 <span>12312</span>
                 <input type="file" id="carImage" name="carImage" multiple="multiple" />
                 <input type="text"  placeholder="请输入车架号" onblur="queryCar()" id="carnono">
                </div>
                </div>
                <button id="sale" name="sale" class="sell-submit" onclick="salecarfinish()" >提交
                </button>
            </a>
        </div>
    </div>
    <div class="sell-img-1"><img th:src="@{/images/sellimg1.jpg}"/></div>
    <div class="sell-img-1">
        <div class="con-tit">卖车指南</div>
        <ul class="sell-guide">
            <li class="fl">
                <p class="p1">Q1：是否收取费用？</p>
                <div class="txt-box"> 卖车全过程我们是不收取卖家任何费
                    用的，成交时我们会按比例收取买家
                    少量费用。
                </div>
            </li>
            <li class="fr">
                <p class="p1">Q2：大概多久能成交？</p>
                <div class="txt-box"> 按以往经验，3天内您会陆续得到我
                    们买家报价，如果售价合理，成功售
                    出几率会很高。
                </div>
            </li>
            <li class="fl">
                <p class="p1">Q3：卖车需要准备哪些材料？</p>
                <div class="txt-box"> 只需要提供您的身份证、行驶证、登
                    记证、购置税本、购车发票，如果车
                    辆为公车，还需要提供相关的组织机
                    构信息。。
                </div>
            </li>
            <li class="fr">
                <p class="p1">Q4：出售车辆需要符合怎样的条件？</p>
                <div class="txt-box"> 只要您的车辆为非营运车辆且相关手
                    续齐全即可在我们平台出售。
                </div>
            </li>
        </ul>
        <div class="tj_form">
            <p class="write-tip">填写表单，立刻卖车</p>
            <a href="/WebCar/userInfo/SaleCar" class="backtotop">立即填写</a></div>
    </div>
</div>
<!--关于我们开始-->
<div class="container-fluid" style="background-color:#f8f8f8;">
    <div class="container" style="padding: 0">
        <div class="row">
            <div class="ftWrap">
                <div class="foot">
                    <div class="cent">
                        <div class="relate">
                            <div class="items">
                                <div class="tit">交易帮助</div>
                                <div class="con">
                                    <a href="#">买车帮助</a>
                                    <a href="#">卖车帮助</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">客服中心
                                </div>
                                <div class="con">
                                    <a href="#">网站合作</a>
                                    <a href="#">关于我们</a>
                                    <a href="#">联系我们</a>
                                </div>
                            </div>
                            <div class="items">
                                <div class="tit">购车指南
                                </div>
                                <div class="con">
                                    <a href="#">购车帮助</a>
                                </div>
                            </div>
                            <div class="items last">
                                <div class="tel">
                                    <h1>888-888-8888</h1>
                                    <p>周一至周日 8:00-18:00</p>
                                    <p>免费咨询</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--关于我们结束-->
<div class="container-fluid" style="background-color:#f8f8f8;height: 25px"></div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">网站联系方式</h4>
</div>

<div class="modal-body">
<h2>联系电话888-888-8888</h2>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
</body>
<script type="text/javascript">
   function lianxifangshi2(){
	
	$('#myModal').modal().show();
}

function salecarfinish(){
	
// 	var obj1=document.getElementById("carbandband");
// 	var index1 = obj1.selectedIndex;
// 	var brandname=obj1.options[index1].text;
	
// 	var obj2=document.getElementById("cartypetype");
// 	var index2 = obj2.selectedIndex;
// 	var cartype=obj2.options[index2].text;
	
// 	var obj3=document.getElementById("carbirthbirth");
// 	var index3 = obj3.selectedIndex;
// 	var carbrith=obj3.options[index3].text;
	
// 	var obj4=document.getElementById("careditiondition");
// 	var index4 = obj4.selectedIndex;
// 	var caredition=obj4.options[index4].text;
	
// 	var obj5=document.getElementById("carmileagemileage");
// 	var index5 = obj5.selectedIndex;
// 	var carmileage=obj5.options[index5].text;
	
// 	var obj6=document.getElementById("cardrivedrive");
// 	var index6 = obj6.selectedIndex;
// 	var cardrive=obj6.options[index6].text;
	
// 	var obj7=document.getElementById("carlevellevel");
// 	var index7 = obj7.selectedIndex;
// 	var levelname=obj7.options[index7].text;
	
// 	var obj8=document.getElementById("drivetypetype");
// 	var index8 = obj8.selectedIndex;
// 	var drivetype=obj8.options[index8].text;
	
// 	var obj9=document.getElementById("carcolorcolor");
// 	var index9 = obj9.selectedIndex;
// 	var carcolor=obj9.options[index9].text;
	
//     var obj10=document.getElementById("carpoppop");
// 	var index10 = obj10.selectedIndex;
// 	var carpop=obj10.options[index10].text;
	
// 	var obj11=document.getElementById("carpowerpower");
// 	var index11 = obj11.selectedIndex;
// 	var carpower=obj11.options[index11].text;

//     var obj12=document.getElementById("carpmethodmethod");
// 	var index12 = obj12.selectedIndex;
// 	var carpmethod=obj12.options[index12].text;

// 	var carname=document.getElementById("carnamecarname").value;  
// 	var carlnwhere=document.getElementById("carlnwherecarlnwhere").value;  
// 	var carlntime=document.getElementById("carlntimecarlntime").value; 
	
// 	var cardisplacement=document.getElementById("cardisplacementcardisplacement").value;
// 	var carmotor=document.getElementById("carmotorcarmotor").value; 
// 	var caroil=document.getElementById("caroilcaroil").value; 
// 	var carprice=document.getElementById("carpricecarprice").value; 
// 	var carno=document.getElementById("carnono").value; 
	var username=document.getElementById("NowUserName").innerText;
	
// 	if(carlntime==""){
// 		alert("上牌时间不能为空！！！！！！！");
// 	}else{
	
// 	$.ajax({
// 		type:"post",
// 		url:"/WebCar/userInfo/PreserveCar?username="+username,
// 		dataType:"json",
// 		data:{
// 			brandname:brandname,
// 			cartype:cartype,
// 			carbrith:carbrith,
// 			caredition:caredition,
// 			carmileage:carmileage,
// 			cardrive:cardrive,
// 			levelname:levelname,
// 			drivetype:drivetype,
// 		    carcolor:carcolor,
// 			carpop:carpop,
// 			carpower:carpower,
// 			carpmethod:carpmethod,
// 			carname:carname,
// 			carlnwhere:carlnwhere,
// 			carlntime:carlntime,
// 			cardisplacement:cardisplacement,
// 			carmotor:carmotor,
// 		    caroil:caroil,
// 			carprice:carprice,
// 			carno:carno
// 		},
// 		success:function(reslut){
// 			   if (reslut=='1') {
// 		         	alert("登记成功，等待验证");
// 		         	window.location.href = "/WebCar/userInfo/buyCar";
// 		         };
// 		     },
// 		     error : function() {
// 		         alert("登记失败！");
// 		         window.location.href = "/WebCar/userInfo/SaleCar";
// 		     }
		
		
// 	});
// 	}

alert(username)
var data = new FormData();
console.log($('#carImage')[0].files);
for(var i=0;i<$('#carImage')[0].files.length;i++){
	data.append("carImage",$('#carImage')[0].files[i]);
}
data.append("username",username);
	$.ajax({
        url: "/WebCar/userInfo/PreserveCar",
        type: 'POST',
        cache: false,
        data: data,
        processData: false,
        contentType: false,
        dataType:"json",
//         beforeSend: function(){
//             uploading = true;
//         },
        success : function(data) {
            if (data.code == 1) {
                $("#logo").attr("src", data.msg);
            } else {
//                 showError(data.msg);
            }
            uploading = false;
        }
    });
}

</script>
<script th:inline="javascript">
var list=[[${CarNono}]];
function queryCar(){
	var carno=document.getElementById("carnono").value; 
	
	
	for(var i=0;i<list.length;i++){
	var carnono=list[i];
	if(carnono==carno){
		alert("车架号存在，请重新输入，如果多次提示错误，请联系网站人员");
		var carnono=$('#carnono').val(''); 
		return;
	   
	}
	
	}
}
function usermanage(){
	
	var username=document.getElementById("NowUserName").innerHTML;
	
	window.location.href="/WebCar/userInfo/user_Manger?username="+username;
}
</script>
</html>