<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace+id必须唯一, 建议namespace=dao的全路径-->
<mapper namespace="com.xh.mapper.AdminMapper">

	
	
	<!-- 注册 -->
	<insert id="adminregister" >
	insert into admin(adminname,adminpwd,adminphone,adminpermission,realname) values(#{adminName},#{adminPwd},#{adminPhone},1,#{realname})
	</insert>
	<!-- 修改个人信息 -->
	<update id="adminupdate" >
	update admin set(adminpwd=#{adminPwd},adminphone=#{adminPhone}) where adminname=#{adminName}
	</update>
</mapper>