<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.OrderMapper">
<!-- 配置 属性与列名的映射 -->
<resultMap type="com.xh.web.model.OrderModel" id="list">
 <id property="orderid" column="orderid"  />
 <result property="ordercarname" column="ordercarname"/>
 <result property="ordercarhavename" column="ordercarhavename"/>
 <result property="orderhavetel" column="orderhavetel"/>
 <result property="ordermoney" column="ordermoney"/>
 <result property="ordername" column="ordername"/>
 <result property="orderaddr" column="orderaddr"/>
 <result property="ordertel" column="ordertel"/>
 <result property="orderbegintime" column="orderbegintime"/>
 <result property="orderendtime" column="orderendtime"/>
 <result property="orderstatic" column="orderstatic"/>
 <result property="orderpeople" column="orderpeople"/>
 <result property="carid" column="carid	"/>
 </resultMap>
 <select id="admin_OrderAll" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.orderpeople from orders o,orderstatic os where o.orderstaticid=os.orderstaticid
 </select>
 <!-- 查询未交易完成订单 -->
 <select id="Admin_OrderManageOnGoing" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.orderpeople from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderstaticid=2
 </select>
 <!-- 查询交易完成订单 -->
 <select id="Admin_OrderManageFinish" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.orderpeople from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderstaticid=1
 </select>
 <!-- 查询交易失败订单 -->
 <select id="Admin_OrderManageFail" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.orderpeople from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderstaticid=3
 </select>
  <!-- 查询新订单 -->
 <select id="Admin_OrderManageNew" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.orderpeople from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderstaticid=4
 </select>
 <!-- 根据用户名查询订单信息 -->
  <select id="user_OrderManage" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.ordericon from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.ordername=#{ordername}
 </select>
  <!-- 根据用户名删除订单信息 -->
  <delete id="delectorderder" >
   delete from orders where ordercarname=#{ordercarname} and ordermoney=#{ordermoney} and ordername=#{ordername} and orderbegintime=#{orderbegintime} and ordericon=#{ordericon}
 </delete>
 
 
 
 
  <select id="searchOrderNo" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.carid from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderid=#{orderid}
 </select>
 
 <update id="Admin_OrderManageUpdate">
 update orders set orderendtime=#{orderendtime},orderstaticid=#{orderstaticid} where orderid=#{orderid}
 </update>
 
 <insert id="orderinsertinsert">
 insert into orders(ordercarname,ordercarhavename,orderhavetel,ordermoney,ordername,orderaddr,ordertel,orderbegintime,orderstaticid,ordericon,carid) values(#{ordercarname},#{ordercarhavename},#{orderhavetel},#{ordermoney},#{ordername},#{orderaddr},#{ordertel},#{orderbegintime},#{orderstatic},#{ordericon},#{carid})
 </insert>
 <!-- 销售人员与订单关联  1.关联销售人员与订单  2。修改订单状态为处理中 -->
 <insert id="order_sellpeopleAdd">
 insert into sellpeople_order(sellpeopleid,orderid) values(#{sellpeopleid},#{orderid})
 </insert>
  <update id="order_sellpeopleUpdate">
 update orders set orderstaticid=2 where orderid=#{orderid}
 </update>
 <!--  -->
 <!-- 销售人员   根据id 查询分配到的订单 -->
  <select id="Sellpeople_Orderselect" resultMap="list">
 select o.orderid,o.ordercarname,o.ordercarhavename,o.orderhavetel,o.ordermoney,o.ordername,o.orderaddr,o.ordertel,o.orderbegintime,o.orderendtime,os.orderstatic,o.ordericon from orders o,orderstatic os where o.orderstaticid=os.orderstaticid and o.orderid=#{orderid}
 </select>
 </mapper>